
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding-top: 70px;
}

.post_bumper{
  width: 100%;
  max-width: 800px;
  max-height: 400px;
}

.container{
  max-width: 800px;
  max-height: 400px;
}
